.AppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;
  min-height: 100vh;
  padding: 24px 0;

  @include md {
    flex-direction: column;
    gap: 86px;
  }
}
