:root {
  --blue: rgba(153, 202, 255, 0.6);
  --dark-blue: #3f4f61;
  --green: rgba(71, 194, 175, 0.26);
  --orange: rgba(249, 163, 139, 0.24);
  --dark-orange: rgba(255, 82, 51, 0.5);
  --purple: #f4f3ff;
}
